body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css */

:root {
  --primary-color: #1e90ff;
  --secondary-color: #0d6efd;
  --background-color: #ffffff;
  --text-color: #333333;
  --muted-color: #555555;
  --light-bg: #f9f9f9;
  --accent-bg: #f0f8ff;
  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
